<div *ngIf="selected">
  <!-- Selected: {{selected.name}}  --
  <ng-template cdkPortal="overlayPortal">
    
  </ng-template>
  !--
  <div *cdkPortal="overlayPortal">
  </div>  
  -->
  <app-overlay>
    <app-event [event]="selected"></app-event>
  </app-overlay>
  <!---->

</div>

<section class="events">

  <div *ngIf="!events">
    <h2>Loading Events...</h2>
  </div>
  
  <mat-grid-list 
    cols="{{width>1200?2:1}}" 
    gutterSize="4rem" 
    rowHeight="{{(width>640)?'2:1':((width<320)?'1:2':'1:1')}}"
    >

    <mat-grid-tile     
      *ngFor="let event of events"
      class="event-preview"              
      (click)="onSelect(event)"
      >
    
      <div class="backdrop" style="background-image: url(assets/event-thumbnail.jpg)"></div>
      
      <mat-grid-tile-header>{{event.name}}</mat-grid-tile-header>
      
      <div class="wrap">
            
        <div class="description">
          <p>Lorum ipsum deloris santai fengue.</p>
          <p class="location">Dragonfly, Alabama</p>
        </div>        
        
      </div>
      
      <mat-grid-tile-footer>I'm Going!</mat-grid-tile-footer>
    </mat-grid-tile>
  
  </mat-grid-list>
  
</section> 