<div id="wrap" class="mat-app-background mat-typography">
	
  <div *ngIf="loading">
    <mat-progress-bar mode="buffer" value=10 bufferValue=50></mat-progress-bar>
  </div>
	
  <div class="center p2e pb0">
    <h1 class="page-title">{{title}}</h1>
    <p class="note">Loads Events, Toggles RSVP</p>
  </div>	 

  <app-events></app-events>
  
  
<!-- 	
  <ng-template #overlay>Testing 321</ng-template>
  <ng-template #overlay>
    Testing 123
  </ng-template>
  <router-outlet></router-outlet>
  <app-overlay>Test Content</app-overlay>
  <app-events></app-events>
  <app-events-test></app-events-test>
  <app-event-test></app-event-test>
  
 -->    
      
</div>