<div class="event" *ngIf="event; else noEvent">

  <img [src]="event.image" alt="{{event.name}}" />
  
  <h2>{{event.name}}</h2>
  
  <p>{{event.description}}</p>
  <span>{{event.rsvp?'yes':'no'}}</span>
  <details>
    <summary>Event Information</summary>
    <div>
      <p>Location: {{event.location.city}}, {{event.location.state}}</p>
      <div *ngIf="event.more">
        <div *ngIf="event.more.date">
          <p>Date: {{event.more.date | date:'mm/dd/y'}}</p>
        </div>
        <div *ngIf="event.more.comments">
          <p>Comments:</p>
          <ul>          
            <li *ngFor="let comment of event.more.comments">
              Comment: {{comment.from}} says {{comment.text}}
            </li> 
          </ul>
        </div>
      </div>
    </div>  
  </details>
  
  <p>
    <mat-slide-toggle (click)="toggleStatus(event)">
      Going
    </mat-slide-toggle>
  </p>
    
  <p>
    <a href="mailto:?subject=Check this out!&body={{message}}">Share Event</a>
  </p>
  
</div>
<ng-template #noEvent>
  <p>Could not load event.</p>
</ng-template>