.event {
  padding: 2rem;
  color: #2d2d2d;
  background: #888;
}

h2 { color: red; text-transform: capitalize; }

.comment ul li {
  list-style: none; padding: 1rem; background: rgb(123,123,123); color: white;
}

.images {
	border: 1px solid #323232;
	margin: 20px;
}
.images .wrap {
  max-width: 300px;
  display: inline-block;
}