.event {
  padding: 2rem;
  margin-top: 2rem;
  color: #2d2d2d;
  background: #888;
}

.event .event-content {
  padding: 2rem 0;	
}

h2 { text-transform: capitalize; font-size: 2.4rem; }

.comment ul li {
  list-style: none; padding: 1rem; background: rgb(123,123,123); color: white;
}

.main-image {
  padding-top: 2rem;
}

.images {
	border: 1px solid #323232;
	margin: 20px;
}

.images .wrap {
  max-width: 300px;
  display: inline-block;
}

mat-card {
  background: white;
  color: black;
  margin-bottom: 20px;
  opacity: .88;
  transform: scale(.99);
  transition-duration: .2s;
}
mat-card:hover {
  opacity: 1;
  transform: scale(1);
}
mat-card-content {
  padding-left: 2rem;
  padding-right: 2rem;
}
mat-slide-toggle {
  padding: 2rem 0 3rem;
}