.event {
  padding: 2rem;
  color: #2d2d2d;
  background: #888;
}

ul {
  border: 1px solid gray;
  padding: 1rem;
  margin: 1rem;
  background: #770000;
}

h2 { color: red; text-transform: capitalize; }