@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #222;
  color: #EEE;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  
}
#wrap {
  overflow-x: hidden;
}

img { max-width: 100%; }

.error {
  background: #770000;
  color: white;
}

.success {
  background: green;
  color: white;
}

.warn {
  background: yellow;
  color: #d2d2d2;
}

.cdk-overlay-pane { width: 100%; height: 100%; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.p2e {
  padding: 2em;
}
p1e {
  padding: 1em;
}
.pb0 {
  padding-bottom: 0;
}

.note {
  font-size: 80%;
  opacity: .8;
}

.m1e {
  margin: 1em;
}
.m1r {
  margin: 1rem;
}
.mb0 {
  margin-bottom: 0;
}